<div class="container">
  <footer>
    <ul class="nav justify-content-center border-bottom pb-2 pt-2 mb-1">
      <li class="nav-item">
        <a routerLink="weather" class="nav-link px-2 text-body-primary">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="weather-list" class="nav-link px-2 text-body-primary"
          >Weather List</a
        >
      </li>
      <li class="nav-item"></li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-primary">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-primary">About</a>
      </li>
    </ul>
    <p class="text-center text-primary">&copy; 2023 Company, Inc</p>
  </footer>
</div>
